<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SqlConnStr_dev" connectionString="Data Source=GAYAN-probook;Initial Catalog=PCS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <add name="SqlConnStr" connectionString="Data Source=SERVER02\EXISTCO;Initial Catalog=PCS;User =Report ; Password =kmc2588;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <!--Test string 09/11/20 -->

  </connectionStrings>
</configuration>